<!doctype html>
<html lang="pt-PT">
    <head>
        <title>Databases - 3</title>
    </head>
    <body>
        <div style="padding: 20px">
            <div style="width: 40%; float: left; padding: 20px">
                {% include 'components/navbar.html' %}
            </div>
        </div>
        <div>
            <div style="width: 40%; float: left; padding: 20px">
                {% block content %}
                    Replaceable
                {% endblock %}
            </div>
        </div>

    </body>
</html>