<nav>
    <h2>
        Barra de navegação
    </h2>
    <ul style="list-style-type: disc">
        <li style="padding-bottom: 2em">
            <a href="/">
                <button>Voltar à home page</button>
            </a>
        </li>
        <li style="padding-bottom: 2em">
            <a href="/add-remove-category">
                <button>Adicionar/remover categoria</button>
            </a>
        </li>
        <li style="padding-bottom: 2em">
            <a href="/add-remove-retailer">
                <button>Adicionar/remover retalhista</button>
            </a>
        </li>
        <li style="padding-bottom: 2em">
            <a href="/sold-products-ivm">
                <button>Listar todos os eventos de reposição de uma IVM</button>
            </a>
        </li>
        <li style="padding-bottom: 2em">
            <a href="/retailer-more-replaces">
                <button>Mostrar nome do retalhista com mais reposições</button>
            </a>
        </li>
        <li style="padding-bottom: 2em">
            <a href="/retailers-simple-categories">
                <button>Mostrar nome do(s) retalhista(s) responsáveis pelas categorias simples</button>
            </a>
        </li>
        <li style="padding-bottom: 2em">
            <a href="/products-never-replaced">
                <button>Mostrar ean dos produtos que nunca foram repostos</button>
            </a>
        </li>
        <li style="padding-bottom: 2em">
            <a href="/products-replaced-same-retailer">
                <button>Mostrar o ean dos produtos que foram repostos pelo mesmo retalhista</button>
            </a>
        </li>
        <li style="padding-bottom: 2em">
            <a href="/sold-products-date-range">
                <button>Mostrar número de produtos vendidos entre duas datas</button>
            </a>
        </li>
        <li style="padding-bottom: 2em">
            <a href="/sold-products-district">
                <button>Mostrar o número de produstos vendidos por distrito</button>
            </a>
        </li>
    </ul>
</nav>