<nav>
    <ul>
        <li>
            <a href="/retailer-more-replaces">
                <button>Mostrar nome do retalhista com mais reposições</button>
            </a>
        </li>
        <li>
            <a href="/retailers-simple-categories">
                <button>Mostrar nome do(s) retalhista(s) responsáveis pelas categorias simples</button>
            </a>
        </li>
        <li>
            <a href="/products-never-replaced">
                <button>Mostrar ean dos produtos que nunca foram repostos</button>
            </a>
        </li>
        <li>
            <a href="/products-replaced-same-retailer">
                <button>Mostrar o ean dos produtos que foram repostos pelo mesmo retalhista</button>
            </a>
        </li>
    </ul>
</nav>